<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" (keyup.enter)="retrievePosts()"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="retrievePosts()">
                    Search
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="tags" class="form-group col-md-12">
        <label for="tags">Tags</label>
        <input *ngFor="let tag of tags" type="button" value="{{ tag.name }}" id="{{ tag.id }}" title="{{ tag.description }}"
          class="btn btn-light btn-sm mb-1" [ngClass]="{'usedTag': checkUsedTags(tag.id)}" (click)="toggleTagFilter($event.target.id);">
      </div>
    <div class="col-md-6">
        <h4>Posts List</h4>
        <ul class="list-group">
            <li class="list-group-item" [ngClass]="{'list-group-item-light': !post.published}" *ngFor="
          let post of posts | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        " [class.active]="i == currentIndex" (click)="setActivePost(post, i)">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ post.title }}</h5>
            <small>{{ moment(post.updatedAt).fromNow() }}</small>
          </div>
                
                <span *ngFor="let tag of post.tags" class="badge" [ngClass]="(post.published)?'badge-success':'badge-secondary'" title="{{ tag.description }}">{{ tag.name }}</span>
            </li>
        </ul>
        <div class="col-md-12">
            <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                (pageChange)="handlePageChange($event)"></pagination-controls>
        </div>

        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPosts()">
            Remove All
        </button>
        Items per Page:
        <select (change)="handlePageSizeChange($event)">
            <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
            </option>
        </select>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentPost">
            <h4>Post</h4>
            <div>
                <label><strong>Title:</strong></label> {{ currentPost.title }}
            </div>
            <div>
                <label><strong>Description:</strong></label>
                {{ currentPost.description }}
            </div>
            <div>
                <label><strong>Tags:</strong></label>
                <span *ngFor="let tag of currentPost.tags" class="badge badge-success" title="{{ tag.description }}">{{ tag.name }}</span>
            </div>
            <div>
                <label><strong>Status:</strong></label>
                {{ currentPost.published ? "Published" : "Pending" }}
            </div>

            <a class="badge badge-warning" routerLink="/postes/{{ currentPost.id }}">
                Edit
            </a>
        </div>

        <div *ngIf="!currentPost">
            <br />
            <p>Please click on a Post...</p>
        </div>
    </div>
</div>